/* Write your CSS here */
.app-container {
  background-image: linear-gradient(
    to right,
    #ffffff,
    #cffcf1,
    #cffcf1,
    #defafe
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
@media screen and (min-width: 768px) {
  .app-container {
    background-image: linear-gradient(
      to right,
      #ffffff,
      #cffcf1,
      #cffcf1,
      #defafe
    );
  }
}
.heading {
  color: #0f172a;
  font-size: 32px;
  font-weight: 500;
  font-family: 'Roboto';
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 48px;
  }
}
.digital-timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
@media screen and (min-width) {
  .digital-timer-container {
    flex-direction: row;
    max-height: 1140px;
  }
}

.timer-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 250px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .timer-display-container {
    width: 600px;
    height: 420px;
  }
}

.elapsed-time-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
@media screen and (min-width: 768px) {
  .elapsed-time-container {
    width: 170px;
    height: 170px;
  }
}

.elapsed-time {
  color: #00d9f5;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: bold;
}

.timer-state {
  color: #1e293d;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
}

.controls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.timer-controller-container {
  display: flex;
  align-items: center;
}
.timer-controller-btn {
  display: flex;
  align-items: center;
  border: none;
  margin-right: 16px;
  margin-left: 16px;
  padding: 0px;
  cursor: pointer;
  outline: none;
}

.timer-controller-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.timer-controller-label {
  color: #1e293d;
  font-size: 27px;
  font-family: 'Roboto';
  font-weight: 500;
}
.timer-limit-controller-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.limit-label {
  color: #1e293d;
  font-size: 17px;
  font-family: 'Roboto';
  font-weight: 500;
}
.timer-limit-controller {
  display: flex;
  align-items: center;
}

.limit-controller-button {
  color: #1e293d;
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 500;
  border: none;
  margin: 8px;
  cursor: pointer;
  outline: none;
}
.limit-label-and-value-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
}

.limit-value {
  text-align: center;
  color: #1e293d;
  background-image: linear-gradient(to right, #00f5a0, #00d9f5);
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 500;
  width: 100px;
  border-radius: 8px;
  margin: 0px;
  padding: 8px;
}
